body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(235, 127, 145);
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(325deg,
    rgb(37, 31, 31) 0%,
    rgb(174, 31, 174) 30%,
    rgb(239, 98, 121) 70%,
    rgb(236, 193, 193) 100%);
    padding: 40px 60px;
}

h2{
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: rgb(31, 146, 107);
    background-color: rgb(77, 140, 182);
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    
    background-color: rgb(255, 255, 255);
    font-size: 60px;
    transform: rotateY(180deg);
    transition: 0.30s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(70, 66, 64);
    transition: 0.30s;
   transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after, 
.boxMatch::after {
    transform: rotateY(180deg);

}